.theorem
    margin 1rem 0
    padding .1rem 1.5rem
    border-radius 0.4rem
    background-color #f0f4f8
    .title
        font-weight bold

.custom-block
    &.right
     color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right



.dogsdotcom
    main.home
        padding 3.6rem 0
        max-width none
        div.features
            padding 3.6rem 2rem 0
            display flex
            justify-content center
            align-content space-around
            text-align center
            div.feature
                padding 0 10px

